*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

#logo{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #FFFFFF;
}

#logo .img{
    padding-top: 16px;
     width: 139px;
     background-position: center;
     margin-bottom: 5px;
}

.menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
    padding: 16px 24px;
}

.menu a{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: rgb(11, 145, 145);
}

.btn{
    display: flex;
    align-items: center;
}

.btn button{
    color: #FFFFFF;
    padding: 12px 16px;
    background: #2e7d32;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn button:hover{
   background-color: chocolate;
}

.banner{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 157px;
    background-image: url(assets/hero-bg.png);
    background-position: center;
    background-size: cover;
  
}

.banner-container {
    max-width: 727px;
    margin: 0 auto;
}

.banner-container h1 span{
    color: #30B868;
}

.banner-container h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
}

.banner-container p{
    padding-top: 16px;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}


 .Access{
  
   color: #30B868;
   padding: 10px 20px;
   border-radius: 20px;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   margin-bottom: 30px;
   border: none;

}

 .banner .btn{
    display: flex;
    justify-content: center;
} 

.banner-button{
    display:flex;
    justify-content: center;
    gap: 16px;
    padding-top: 32px;
    
}

 .btn2{
    font-size: 16px;
    background-color: #2e7d32; 
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    gap:10px;
    align-items: center;
    cursor: pointer;
   
   
}

 .btn3{
    
    background-color: transparent;
    color: #FFFFFF;
    padding: 12px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    gap: 10px;
    cursor: pointer;
    font-weight: 600px;
}
.btn2 img{
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 1);
  
}
.btn2:hover {
    background-color: chocolate;
}
.btn3:hover{
    background-color: greenyellow;
}
.Access:hover{
    background-color: burlywood;

}
#notes{
    padding: 46px;

}
.notes-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}
.notes-heading h2{
    padding-top: 46px;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    color: #001931;
   font-weight: 700;
   font-size: 48px;

   
}
.notes-heading  p{
    padding-top: 16px;
    text-align: center;
    font-size:16px ;
    font-weight: 400;
    justify-content: center;
    color: #627382;
    margin-bottom: 46px;
}

.card-box{
  display: flex; 
    justify-content: center;
    gap: 24px;
    
}
.card-box .notes-card{
    padding-top: 46px;
    max-width: 1360px;
    text-align: center;
    color: #001931; 
    width: 322px;
    height: 300px;
    box-shadow:0px 0px 8px 0px #cec6c6; 
    padding: 24px;
    border-radius: 8px;
   
}
.notes-card h3{
    color: #001931;
    line-height: 19px;
    text-align: center;
    height: 29px;
    width: 200px;
    padding: 19px;
    margin-bottom: auto;
   
}
.notes-card p{
    justify-content: center;
    color: #627382;
    text-align: center;
    font-size:16px ;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 46px;
    padding-top: 16px;

}
.notes-card img{
    justify-content: center;
    max-width: 44px;
    background-color:#F95555;
}
.style{
    display: flex;
    justify-content: space-around;
    gap: 46px;
    margin-top: 120px;
    margin-left: 60px;
}
.style-content h4{
    padding-top: 120px;
    color: #30B868;
   

}

.style-content h1,p{
    padding-top: 20px;
}

.icon{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.list {
    padding-top: 20px;
}
.list h5,img{
    padding-top: 10px;
    padding-right: 10px;
}
.list h5{
    color: #001931;
    margin: 0 auto;
}

