*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

#logo{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #FFFFFF;
}

#logo .img{
    padding-top: 16px;
     width: 139px;
     background-position: center;
     margin-bottom: 5px;
}

.menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
    padding: 16px 24px;
}

.menu a{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: rgb(11, 145, 145);
}

.btn{
    display: flex;
    align-items: center;
}

.btn button{
    color: #FFFFFF;
    padding: 12px 16px;
    background: #2e7d32;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn button:hover{
   background-color: chocolate;
}

.banner{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 157px;
    background-image: url(assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-container {
    max-width: 727px;
    margin: 0 auto;
}

.banner-container h1 span{
    color: #30B868;
}

.banner-container h1{
    color: #FFFFFF;
}

.banner-container p{
    padding-top: 16px;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}


 .Access{
  
   color: #30B868;
   padding: 10px 20px;
   border-radius: 20px;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   margin-bottom: 30px;
   border: none;

}

 .banner .btn{
    display: flex;
    justify-content: center;
} 

.banner-button{
    display:flex;
    justify-content: center;
    gap: 16px;
    padding-top: 32px;
    
}

 .btn2{
    font-size: 16px;
    background-color: #2e7d32; 
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    gap:10px;
    align-items: center;
    cursor: pointer;
   
   
}

 .btn3{
    
    background-color: transparent;
    color: #FFFFFF;
    padding: 12px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    gap: 10px;
    cursor: pointer;
    font-weight: 600px;
}
.btn2 img{
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 1);
  
}
.btn2:hover {
    background-color: chocolate;
}
.btn3:hover{
    background-color: greenyellow;
}
.Access:hover{
    background-color: burlywood;

}