*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;}

#logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
   
}
#logo .img{
    width: 139px;
    height: 60px; 
    margin-top: 16px;
   padding: 16px 24px ;
}
.menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
    text-align: none;
    padding: 16px 24px;
    margin-top: 34px;
}
.menu a{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: rgb(11, 145, 145);
}
.btn{
    display: flex;
    align-items: center;
}
 .btn button{
    margin-top: 24px;
    color: #FFFFFF;
    padding: 12px 16px;
    background: #2e7d32;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    
 }